.mobile-menu__button {
  margin-left: auto;

  background-color: transparent;
  border: none;

  &.is-open {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 100;
  }
}

.mobile-menu__icon {
  fill: currentColor;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__icon:hover,
.mobile-menu__icon:focus {
  fill: #2196f3;
}

.mobile-menu__open {
  opacity: 1;

  .mobile-menu__button.is-open & {
    opacity: 0;
  }
}

.mobile-menu__close {
  opacity: 0;

  .mobile-menu__button.is-open & {
    opacity: 1;
  }
}

.menu {
  display: flex;
  flex-direction: column;

  max-width: 100%;
  height: 100%;
  padding: 48px 40px;

  background-color: var(--primary-white-color);
}

.menu__list {
  margin-bottom: auto;
}

.menu__item {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #212121;

  &:hover {
    color: #2196f3;
  }
}

.menu-contacts__list {
  margin-bottom: 64px;
}

.menu-contacts__tel {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.menu-contacts__email {
  margin-bottom: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: #757575;
}

.menu-social__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.menu-social__item {
  margin-right: 20px;

  font-weight: 500;
  font-size: 1.2;
  line-height: 22px;

  letter-spacing: 0.02em;

  color: #2196f3;

  &:last-child {
    margin-right: 0;
  }
}

.menu-social__item::after {
  content: "";
  padding-right: 10px;
  width: 22px;

  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-social__item:last-child::after {
  display: none;
}

.menu-link--current {
  color: #2196f3;
}
