.section-title {
     
   line-height: 1.16;
   text-align: center;

      @media screen and (min-width: 480px) {
      margin-bottom: 30px;
      font-size: 28px;
      }
   
      
      @media screen and (min-width: 738px) {
         margin-bottom: 30px;
         font-size: 28px;
      }

      @media screen and (min-width: 1200px) {
         margin-bottom: 50px;
         font-size: 36px; 
      }
   
 }
 
 .subtitle {
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
 }